body{
	background-color: black;
	width: 100%;
	margin: 0;
	text-align: center;
	color: white;
}
header{
	height: 50px;
}
h1{
	color: white;
}
a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
.header_menu{
	background-color: gray;
	display: flex;
	color: white;
	list-style: none;
	margin-bottom: 0;
}
menu li{
	margin: auto;
	font-size: 1.2em;
}
main{
	height: 560px;
	overflow: hidden;
}
.pc_l{
	width: 50%;
	float: left;
	height: 98%;
}
.pc_r{
	width: 50%;	
	height: 98%;
	clear: both;
}
.mo_l,.mo_r{
	display: none;
}
iframe{
	height: 510px;
	width: 100%;
	margin-top: -98%;
}
.open_left{
	transform: translateX(-102%);
	transition: 2.0s;
}
.open_rigth{
	transform: translateX(102%);
	transition: 2.0s;
}
footer{
	height: 50px;
	z-index: 99;
	position: fixed;
	bottom: 0;
}
.footer_menu{
	display: none;
}

/*スマホ用*/
@media screen and (max-width:480px) { 
	.header_menu{
		display: none;
	}
	menu li{
		margin: auto;
		font-size: 0.8em;}
	.pc_l,.pc_r{
		display: none;}
	.mo_l{
		display:block;	
		width: 50%;
		float: left;}
	.mo_r{
		display:block;	
		float: right;	
		width: 50%;}
	main{
		height: 330px;
		overflow: hidden;}
	.footer_menu{
		height: 50px;
		background-color: #7b5841;
		display: flex;
		z-index: 99;
		color: white;
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 0;}	
	.footer_p{
		font-size: 0.8em;}
	menu li{
		margin: auto;
		border-radius: 50%;	
		background-color: #520d0dbd;
		font-size: 0.8em;}
	footer{
		display: none;}	
}